<a href="https://colab.research.google.com/github/CamelGoong/Pandas_Practicing/blob/main/PART_6_Application_of_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 함수매핑

1-1 개별 원소에 함수 매핑

In [8]:
# 시리즈 원소에 apply() 적용
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

df['ten'] = 10

In [9]:
# 사용자 함수 정의
def add_10(n):
  return n + 10

def add_two_obj(a, b):
  return a + b

# 함수 검사
print(add_10(5))
print(add_two_obj(1,3))

15
4

In [16]:
# 시리즈 객체에 적용

df['sr1'] = df['age'].apply(add_10)

# 시리즈 객체와 숫자에 적용: 2개의 인수(시리즈 + 숫자)
df['sr2'] = df['age'].apply(add_two_obj, b = 10)

# lambda 함수의 활용: 시리즈 객체에 적용
df['sr3'] = df['age'].apply(lambda x : add_10(x)) # lambda 매개변수 : 표현식

df.head()

    age     fare  ten   sr1   sr2   sr3
0  22.0   7.2500   10  32.0  32.0  32.0
1  38.0  71.2833   10  48.0  48.0  48.0
2  26.0   7.9250   10  36.0  36.0  36.0
3  35.0  53.1000   10  45.0  45.0  45.0
4  35.0   8.0500   10  45.0  45.0  45.0

In [23]:
df_map = df.applymap(add_10)

In [24]:
df_map.head()

    age     fare  ten   sr1   sr2   sr3
0  32.0  17.2500   20  42.0  42.0  42.0
1  48.0  81.2833   20  58.0  58.0  58.0
2  36.0  17.9250   20  46.0  46.0  46.0
3  45.0  63.1000   20  55.0  55.0  55.0
4  45.0  18.0500   20  55.0  55.0  55.0

1-2 시리즈 객체에 함수 매핑

In [37]:
# 데이터프레임에 apply(axis = 0) 적용

import seaborn as sns

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ['age', 'fare']]
print(df.head())

# 사용자 정의 함수
def missing_value(series):
  return series.isnull() # 불리언 series를 반환.

# 데이터프레임에 함수 적용 / 불리언 값을 반환하는 missing_value의 경우 들어가는 인자인 각 열에 대해서 series의 형태로 각 반환이 되고, 이것이 합쳐져서 궁극적으로는 dataframe의 형태로 반환이 됨.

result = df.apply(missing_value, axis = 0) #  axis = 0은 함수를 열로 사용하겠다는 의미
print(result.head())

result.info()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     891 non-null    bool
 1   fare    891 non-null    bool
dtypes: bool(2)
memory usage: 1.9 KB

In [38]:
# 사용자 함수 정의
def min_max(x):
  return x.max()-x.min()

result = df.apply(min_max, axis = 0)
result.head()

age      79.5800
fare    512.3292
dtype: float64

In [42]:
# 데이터프레임에 axis = 1로 apply 함수 적용

df = titanic.loc[:, ['age', 'fare']]
df['ten'] = 10

df['add'] = df.apply(lambda x : add_two_obj(x['age'], x['ten']), axis = 1)
df.head()

    age     fare  ten   add
0  22.0   7.2500   10  32.0
1  38.0  71.2833   10  48.0
2  26.0   7.9250   10  36.0
3  35.0  53.1000   10  45.0
4  35.0   8.0500   10  45.0

1-3 데이터프레임 객체에 함수 매핑

In [52]:
df = titanic.loc[:, ['age', 'fare']]

# 각 열의 NaN 찾기
def missing_value(x):
  return x.isnull()

# 각 열의 NaN 갯수 반환
def missing_count(x):
  return missing_value(x).sum()

# 데이터프레임의 총 NaN 갯수
def total_number_missing(x):
  return missing_count(x).sum()

In [50]:
result_df = df.pipe(missing_value)
result_df.head()

     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

In [54]:
result_series = df.pipe(missing_count)
result_series.head()

age     177
fare      0
dtype: int64

In [56]:
result_value = df.pipe(total_number_missing)
print(result_value)

177